# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default settings
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

# Use spaces rather than tabs and set tab size to 4
[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
csharp_version = 7.3
dotnet_sort_system_directives_first = true

# C# code style preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,readonly,volatile,override,abstract,sealed,unsafe,extern
csharp_preferred_modifier_order_for_events = protected,internal,private,public,static
csharp_preferred_modifier_order_for_indexers = public,private,protected,internal,static,readonly,volatile,override,abstract,sealed,unsafe,extern
csharp_preferred_modifier_order_for_methods = public,private,protected,internal,static,readonly,volatile,override,abstract,sealed,unsafe,extern
csharp_preferred_modifier_order_for_properties = public,private,protected,internal,static,readonly,volatile,override,abstract,sealed,unsafe,extern

# Code analysis settings
dotnet_diagnostic.CA1062.severity = error
dotnet_diagnostic.CA1303.severity = error
dotnet_diagnostic.CA1822.severity = error
dotnet_diagnostic.CA2007.severity = error
dotnet_diagnostic.CA2208.severity = error
dotnet_diagnostic.CA2213.severity = error

# Ensure consistent line endings on all platforms
[*.{cs,txt,md,html,js,json,xml}]
end_of_line = lf